header .row1{
    width: 100%;
    height: 71px;
    background: url(../images/row1-top-tail.gif) left top repeat-x;
}
header .row1 nav li{
    display: block;
    float: left;
}
header .row1 nav a:hover,header .row1 nav a.active{
    color: #fff;
    background-color: #000;
}
header .row1 nav li a{
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    float: left;
    color: #000;
    font-size: 21px;
    width: 188px;
    padding: 23px 0;
    text-align: center;
    background: url(../images/menu-a-tail.gif) right -71px no-repeat;
}
header .row2{
    width: 100%;
    min-height: 90px;
    background: url(../images/row2-tail.gif) left top repeat-x #fff;
}
header .row2 p{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    color: #262626;
    margin: 10px 0;
    
}
header .row2 a{
    text-decoration: none;
    color: #262626;
}
header .row2 .logoE{
    color: #ff9601;
}
header .row2 .logoDesign{
    color: #949494;
    font-size: 28px;
    display: inline-block;
    padding: 20px 0 0 4px;
}
header .row2 input{
    width: 140px;
    height: 22px;
    font-size: 13px;
    background: none;
    margin-top: 30px;
    display: inline-block;
}
header .row2 .search_icon{
    display: inline-block;
    margin: 37px 0 0 -27px;
    background: url(../images/search-icon.gif) 0 0 no-repeat;
}
header .row2 .search_icon a{
    color:rgba(255,255,255,0);
}
.content_top {
    width: 100%;
    height: 876px;
    background: url(../images/bg-top.jpg) center top no-repeat;
}
.content_top .row1{
    width: 100%;
    height: 576px;
    background: url(../images/bg-top.jpg) center top no-repeat;
}
.content_top .row2 h2{
    font-size: 36px;
    color: #fff;
    margin: 20px 0px;
    font-weight: 300;
}
.content_top .row2 figure{
    background-color: #fff;
}
.content_top .row2 img{
    padding: 10px;
}
.content_top .row2 li{
    color: #fff;
    margin-top:7px;
}
.content_top .row2 a{
    color: #ff9601;
    text-decoration: none;
    font-size: 25px;
}
.content_top .row2 a:hover{
    color: #fff;
}
.content_bot {
    width: 100%;
    background: url(../images/bg-bot-tail.gif) center top repeat-x #fff;
    padding: 30px 0 55px;
}
.content_bot h2{
    font-size: 36px;
}
.content_bot .link{
    color: #ff9601;
}
.content_bot .link:hover{
    text-decoration: none;
}
.content_bot p{
    padding: 5px 0px;
}
.content_bot .quote{
    padding-left: 30px;
    background: url(../images/quote.png) 0 3px no-repeat;
}
.content_bot .date{
    color: #ff9601;
    text-decoration: none;
}
footer {
    width: 100%;
    height: 50px;
    padding: 40px 0 33px;
    background: url(../images/footer-tail.gif) center top repeat-x #fff;
}
.clearfix{
    clear: both;
}
footer a{
    color: #ff9601;
}
footer a:hover{
    text-decoration: none;
}
footer .linkfooter{
    color: #000;
    text-decoration: none;
}
footer .linkfooter:hover{
    text-decoration: underline;
}

footer .phone_num{
    font-size: 42px;
}
footer .phone_num span{
    display: inline-block;
    font-size: 28px;
    color: #949494;
    padding: 12px 0px;
}
footer .icon a{
    background: url(../images/social-icons.png) left top no-repeat;
    width: 60px;
    height: 45px;
    float: left;
    display: block;
    margin-right: 10px;
}
footer .icon .item1{
    background-position: -80px 0;
}
footer .icon .item2{
    background-position: -160px 0;
}
footer .icon .item3{
    background-position: -240px 0;
}